<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vertretungsplan Handrup</title>
  <script type="text/javascript" src="/assets/overthrow.min.js"></script>
</head>

<body>
</body>

<template name="layout">
  {{> navbar}}
  <div class="container">
    {{> yield "disconnected"}}
    {{> yield}}
  </div>
</template>

<template name="loading">
  <h1>
    {{title}}
    <small class="loading">
      Laden ...
    </small>
  </h1>
  {{> tryingToLogin}}
</template>

<template name="disconnected">
  {{#if isDisconnected}}
    <div class="disconnected alert alert-danger">
      Internetverbindung getrennt.
      <button class="btn btn-default">
        <span class="refresh"></span> <span class="hidden-xs">Neu verbinden</span>
      </button>
    </div>
  {{/if}}
</template>

<template name="tryingToLogin">
  {{#if isTryingToLogin}}
    <div class="alert alert-info">
      Anmeldung läuft ...
    </div>
  {{/if}}
</template>

<template name="disabled">
  <br />
  <span class="big">
    Der Vertretungsplan ist zur Zeit deaktiviert.<br />
    Versuche es später noch einmal.
  </span>
</template>